li {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    background-color: rgb(117, 199, 135);
    height: 110px;
}

.header-logo {
    float: left;
    padding: 0px 20px;
}
.main-logo {
    color: rgb(255, 255, 255);
}
.site-description {
    color: rgb(0, 0, 0);
    font-size: 17px;
    position: relative;
    bottom: 25px;
}

.header-list a {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    color: rgb(38, 65, 43);
}
.header-list a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

header h4{
    float: left;
    color: rgb(38, 65, 43);
    padding-left: 20px;
}
